// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title
	font-family: "Raleway"
	font-weight: 800
	font-size: 60px

#subtitle
	font-family: "Raleway"
	font-weight: 100
	font-size: 23.5px

body 
	font-family: "Raleway"

#sidebar 
	float: left
	width: 200px

// .box
// 	width: 300px


.box img 
	width: 240px
