// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title
	font-family: "Raleway"
	font-weight: 800
	font-size: 60px

#subtitle
	font-family: "Raleway"
	font-weight: 100
	font-size: 23.5px

body 
	font-family: "Raleway"
	display:table
	margin: 0

#sidebar 
	float: left
	width: 200px
	// display: table-cell
	position: absolute
	margin: 20px


.gallery
	// display: table-cell
	left: 25%
	width: 75%
	// background-color: green
	position: relative

.box
	width: 33.2%
	float: left


.box img 
	width: 100.5%
	display: block
	// padding: 1px